extends layout.pug 

block content 
  include navbar.pug

  .about-container
    h1 About
    p This was a simple project that showcases the basics of how CRUD interacts with a webpage. The author of this app is an aspiring developer eager to progress with his skills in the world of IT.

  include footer.pug