extends layout.pug 

block content 
  include navbar.pug

  .contact-page
    h1 Contact Us
      .contact-form-container
        form
          input(type="text", placeholder='Enter your name')
          br
          input(type="text" placeholder='Comment')
          input(type="submit" value='Submit') 