extends layout.pug 

block content 
  include navbar.pug

  .contact-page
    h1 Contact Us
      .contact-form-container
        form
          input(type="text", placeholder='Enter your name')
          br
          textarea(id='textarea' name="textarea" rows="10" columns="100" placeholder='Comment')
          br
          input(type="submit" value='Submit') 
  
  include footer.pug