extends layout.pug 

block content 
  include navbar.pug
  .add-entry-container 
    .add-button 
      p Add entry to diary 
      a(href= '/addPage') ADD
  
  .entered-data 
    each data in datas
      .newly-added-entry
        h3= data.addTitle 
          .entry-content-date
            p= data.addDate
            a(href='/diarypage' + data._id) View

  include footer.pug
