extends layout.pug 

block content 
  footer 
    .footer-container
      p Copyright &copy;
      .socialMedia
        ul
          li
            a(href='#')
              i.fa.fa-facebook
          li
            a(href='#')
              i.fa.fa-twitter
          li
            a(href='#')
              i.fa.fa-instagram