extends layout.pug

block content
  include navbar.pug
  .homepage-container 
    h1 Welcome to Never Forget 
    p A website that helps you remember moments of your life, no matter how old you are
    br
    include loginbox.pug