doctype html 
html(lang='en')
  head 
    title Never Forget
    link(rel="stylesheet", href="/css/styles.css")
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    block styles
    script(src='./public')
    block script
    
  body 
    block content
