block content
  .login-container
        form#login(method='get' action='login.php')
        label User Name 
        input#psername(type='text' name='username' placeholder='Username')
        br
        br
        label Password
        input#password(type='Password' name='password' placeholder='Password')
        br
        br
        input#log(type='button' name='log' value='Log In')
        br
        br
        input#checkbox(type='checkbox')
        span Remember me
        br
        br
        |         Forgot 
        a(href='#') Password