block content
  .login-container
      form
        .login(method='get' action='login.php')
          label User Name 
          input#username(type='text' name='username' placeholder='Username')
          br
          br
          label Password
          input#password(type='password' name='password' placeholder='Password')
          br
          br
          input#log(type='submit' value='Log In')
          br
          br
          input#checkbox(type='checkbox')
          span Remember me
          br
          br
          br
          span Forgot 
          a(href='#') Password