block content
  .login-container
      form
        .login(method='get' action='login.php')
          input#username(type='text' name='username' placeholder='Enter Username')
          br
          br
          input#password(type='password' name='password' placeholder='Enter Password')
          br
          br
          input#log(type='submit' value='Log In')
          br
          br
          input#checkbox(type='checkbox')
          span Remember me
          br
          br
          br
          span Forgot 
          a(href='#') Password