@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: grey;
}

.header-container {
  width: 90%;
  box-sizing: border-box;
  font-size: 30px;
  padding: 25px;
  margin: auto;
  display: flex;
  background-color: cadetblue;
  justify-content: space-between;
}

li {
  display: inline-block;
  width: 100px;
  list-style-type: none;
  padding: 3px;
  font-size: 20px;
  font-family: 'Montserrat';
}
a {
  text-decoration: none;
}