@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(223, 223, 178);
  font-family: 'Montserrat';
}

.header-container {
  background-color: rgb(66, 48, 48);
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.header-container > h4 {
  font-family: "Satisfy";
  color: burlywood;
  padding: 10px;
  font-size: 30px;
  margin-left: 30px;
}

.homeaboutcontact {
  background-color: rgb(66, 48, 48);
  text-align: center;
  width: 90%;
  margin: auto;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.homeaboutcontact > ul > li {
  display: inline-block;
  padding: 10px;
}

.homeaboutcontact > ul > li > a {
  text-decoration: none;
  color: burlywood;
  padding: 10px;
  margin-left: 40px;
}

.homepage-container {
  display: block;
  box-sizing: border-box;
  width: 90%;
  background-color: rgb(66, 48, 48);
  height: 50%;
  text-align: center;
  color: burlywood;
  font-family: 'Montserrat';
  padding: 100px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
}

.login-container {
  background-color: burlywood;
  font-family: 'Montserrat';
  border-radius: 10px;
}

.login-container > label, span {
  color: rgb(66, 48, 48);
}

.login {
  padding-top: 10px;
}

label {
  font-weight: bold;
  color: rgb(66, 48, 48);
}

#log {
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-family: 'Montserrat';
  font-weight: bold;
}

.add-entry-container {
  background-color: rgb(66, 48, 48);
  width: 300px;
  padding: 15px;
  margin:auto;
  margin-top: 20px;
  border-radius: 15px;
}

.add-button {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.add-button > a {
  color: rgb(66, 48, 48);
  background-color: rgb(223, 223, 178);
  margin-right: 30px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
}

.add-button > p {
  color: burlywood;
}

.add-page-container {
  background-color: rgb(66, 48, 48);
  width: 80%;
}

footer {
  position:relative;
}

.footer {
  position: fixed;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
}

.footer-container {
  background: rgb(66, 48, 48);
  height: 60px;
  margin: auto;
  width: 90%;
  align-items: center;
  text-align: center;
  padding:10px;
  color:burlywood;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.socialMedia > ul > li {
  display: inline-block;
  list-style-type: none;
  justify-content: space-between;
  color: burlywood;
  padding: 50px;
  font-size: 30px;
}

.socialMedia > ul > li > a {
  color: burlywood;
}

.footer-container > p {
  color: burlywood;
}

.entered-data{
  display:grid;
  grid-template-columns: auto auto;
  margin-top:4%;
  width: 90%;
  margin: auto;
  margin-top: 20px;
  justify-content: space-between;
}

.newly-added-entry {
  background-color: rgb(66, 48, 48);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.newly-added-entry > h3 {
  font-size: 25px;
  padding: 3px;
  color: bisque;
}

.newly-added-entry > p {
  font-size: 15px;
  padding: 3px;
}

.newly-added-entry > a {
  font-size: 15px;
  padding: 3px;
}

.entry-content-date {
  background-color: white;
  border-radius: 10px;
  color: black;
  font-size: 15px;
  padding: 10px;
  margin-top: 10px;
}

.entry-content-date > a {
  color: rgb(66, 48, 48);
  text-decoration: underline;
}

.contact-page {
  background-color: rgb(66, 48, 48);
  width: 90%;
  text-align: center;
  padding: 35px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

.contact-page > h1 {
  color: burlywood;
}

.about-container {
  background-color: rgb(66, 48, 48);
  width: 90%;
  text-align: center;
  padding: 35px;
  margin: auto;
  margin-top: 100px;
  border-radius: 10px;
}

.about-container > h1 {
  color: burlywood;
}

.about-container > p {
  background-color: burlywood;
  border-radius: 30px;
  height: 200px;
  display: table-cell;
  vertical-align: middle;
}
.fullDetails {
  background-color: rgb(66, 48, 48);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.fullDetails > h3 {
  color: burlywood;
}

.fullDetails > p {
  background-color: rgb(223, 223, 178);
  color:rgb(66, 48, 48);
  padding: 10px;
}

.editEntry > a {
  display: inline-block;
  width: 200px;
  margin-top: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  color: rgb(66, 48, 48);
  background-color: rgb(223, 223, 178);
}
