@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(223, 223, 178);
  font-family: 'Montserrat';
}

.homepage-container {
  display: block;
  box-sizing: border-box;
  width: 90%;
  background-color: cadetblue;
  height: 50%;
  text-align: center;
  font-family: 'Montserrat';
  padding: 100px;
  margin: auto;
  margin-top: 10px;
  border-radius: 30px;
}

.login-container {
  background-color: burlywood;
  font-family: 'Montserrat';
  border-radius: 10px;
}

#login {
  padding-top: 10px;
}

label {
  font-weight: bold;
}

#log {
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-family: 'Montserrat';
  font-weight: bold;
}

a {
  text-decoration: none;
}

.add-entry-container {
  background-color: cadetblue;
  width: 300px;
  padding: 15px;
  margin:auto;
  border-radius: 15px;
}

.add-button {
  justify-content: space-between;
  display: flex;
}

.add-button > a {
  background-color: rgb(136, 136, 102);
  margin-right: 30px;

}

.add-page-container {
  background-color: cadetblue;
  width: 80%;
}

.footer-container {
  box-sizing: border-box;
  display: flex;
  bottom: 0;
  background-color: cadetblue;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}

.footer-container > ul > li {
  display: inline-block;
  justify-content: space-between;
}

.entered-data {
  background-color: chocolate;
  width: 50%;
  margin-top: 20px;
}